<html>

<head>
  <title>linotype test</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width,  minimal-ui">
  <link rel="stylesheet" type="text/css" href="stylesheets/component.collection-linotype.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/example.css" />
  <script src="js/example.min.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
</head>

<body>
  <div class="container">
    <h1>Example Lintotypes</h1>
    <ul>
      <li><a href="pages/backgrounds.html">backgrounds</a>
      </li>
      <li><a href="pages/callback.html">callback</a>
      </li>
      <li><a href="pages/continuous.html">continuous</a>
      </li>
      <li><a href="pages/demopage.html">demo page</a>
      </li>
      <li><a href="pages/normalscroll.html">normal scroll</a>
      </li>
    </ul>
    <p>Full documenation <a href="api/doc/html">API DOCUMENTATION</a>
    </p>
  </div>
  <% include shared/_footer_google %>
</body>

</html>