<html>

<head>
  <% var title="basic usage" %>
    <% include ../shared/_head_elements %>

      <script>
      var LinotypeExample;
      window.addEventListener('load', function() {
        LinotypeExample = new Linotype({
          normalscroll: true
        });
      }, false);
      </script>
</head>

<body id="demo-color">
  <% include ../shared/_home_button %>
    <% include ../shared/_democontent %>
</body>

</html>